.cards-position {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
}

.card-container {
    padding-left: 15px;
    padding-right: 15px;
    /* display: inline-block; */
    /* left: 50%; */
}

.image-container {
    position: relative;
    top: 0px;
    margin-bottom: -13px;
    /* transform: translateX(0%); */
}

.not-soldout-container {
    width: 26px;
    height: 20px;
    border-radius: 2px;
    background: #71f856;
    position: relative;
    margin-left: 0.5rem;
    top: 27px;
}

.not-soldout {
    font-family: Poppins;
    font-size: 10.24px;
    color: #222;
    line-height: 120%;
    padding: 4px;
    padding-left: 7px;
    font-weight: bold;
}

.soldout-container {
    width: 68px;
    height: 20px;
    border-radius: 2px;
    background: #fe5858;
    position: relative;
    margin-left: 0.5rem;
    top: 27px;
}

.soldout {
    font-family: Poppins;
    font-size: 11.24px;
    color: #000000;
    line-height: 120%;
    padding: 4px;
    padding-left: 7px;
    font-weight: bold;
}

.online-container {
    width: 50px;
    height: 20px;
    border-radius: 2px;
    background: #71f856;
    position: relative;
    margin-left: 0.5rem;
    top: 27px;
}

.online {
    font-family: Poppins;
    font-size: 10.24px;
    color: #222;
    line-height: 120%;
    padding: 4px;
    padding-left: 7px;
    font-weight: bold;
}

.card-image {
    width: 176px;
    height: 235px;
    border-radius: 9px;
}

.rating-container {}

.star {
    width: 14px;
}

.R-number {
    color: #222;
    font-family: Poppins;
    font-size: 13px;
}

.R-sidetext {
    color: #918E9B;
    font-family: Poppins;
    font-size: 12px;
}

.text-container {
    position: relative;
    margin-top: -12px;
}

.lesson {
    color: #222;
    font-family: Poppins;
    font-size: 12px;
}

.price {
    position: relative;
    margin-top: -12px;
}

.from {
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 12px;
}

.person {
    color: #222;
    font-family: Poppins;
    font-size: 12px;
}
