nav {
    position: static;
    width: full;
    height: 70px;
    background-color: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img {
    position: relative;
    width: 82px;
    height: 25px;
    left: 30px;
}