* {
  /* background: #282D35; */
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #282D35;
  height: 100vh;
}

/* Nav container */

.nav {
  background: #21222A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  background: #21222A;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 90px;
}

.reacticon {
  height: 30px;
  margin-right: 7px;
  background: #21222A;
}

.logotext {
  background: #21222A;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.listsection {
  background-color: #21222A;
}

.navlist {
  background-color: #21222A;
  color: #DEEBF8;
  font-weight: 600;
}

/* Main container */

/* 
Challenge: Place the gray react logo in the background

Don't use an `img` element, but rather set it as the
`background-image` of the `main` element.

Hint: you'll need to use the following properties:
- background-image
- background-repeat
- background-position

(Or the shorthand `background` property with values for all
those other properties)
*/

main {
  padding: 57px 27px;
  background-image: url("./assets/react-icon-large.png");
  background-repeat: no-repeat;
  background-position: right 75%;
}

/* main > img {
  position: absolute;
  right: 0;
  top: 38%;
} */

.maintitle {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05rem;
}

.mainfacts {
  margin-top: 46px;
  max-width: 400px;
}

.mainfacts>li {
  line-height: 19px;
  padding-block: 10px;
}

.mainfacts>li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}