* {
  background-color: #16171d;
  color: white;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  background-color: #0a0a0f;
  box-shadow: 0 0.4rem 1rem rgb(10, 10, 10);
}

.logo {
  background-color: #0a0a0f;
  width: 60px;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-right: 2rem;
  align-items: center;
  gap: 15px;
  background-color: #0a0a0f;
}

.navlist{
  background-color: #0a0a0f;
}

.MainContent {
  position:-ms-page;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17rem;
}

.footer {
  /* position: -ms-page; */
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0b0b0f;
}

.small {
  background-color: #0a0a0f;

}